 <section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <h2 class="text-center">Add Dealer</h2>
                <form action="/admin/add-dealers" method="POST" >
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                      <label for="">Password</label>
                    <input type="password" name="Password" class="form-control">
  
                    <label for="">Address</label>
                    <input type="text" name="Address" class="form-control">
  
                    <label for="">Storename</label>
                    <input type="text" name="Storename" class="form-control">
  
                    <label for="">Extra Info</label>
                    <input type="text" name="Extrainfo" class="form-control">

                      <label for="">Phone</label>
                    <input type="number" name="Phone" class="form-control">
                    
  
                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                 
                </form>
            </div>
        </div>
    </div>
  </section> 
