<section>
    <div class="container">
        
    <h1>List Of All Employees</h1>
        {{!-- <div class="row mt-5">
            <a href="/admin/add-products" class="btn btn-success ml-auto mb-5">Add Product</a>
        </div> --}}
         <table class="table mt-5" id="productsTable">
  <thead>
    <tr>
      
      <th scope="col">Title</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>

    </tr>
  </thead>
  <tbody>
      {{#each employees}}
    <tr>
     
      <td class="NAME">{{this.Name}}</td>
     
      <td>{{this.Email}}</td>
      <td>{{this.Phone}}</td>
     
    
    </tr>
    {{/each}}
  </tbody>
</table>

    </div>
</section>
<script>
  $(function () {
 $('#productsTable').DataTable();
  })
</script>