  <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" style="font-weight:bold"   href="/employee">My Mart </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Employee👥 <span class="sr-only">(current)</span></a>
      </li>
      
  
    </ul>
   <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{#if user}}
       {{user.Name}}
       {{else}}
        Sign in
    {{/if}}
   
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {{#if user}}
         <a class="dropdown-item" href="/employee/logout">Logout</a>
       {{else}}
           <a class="dropdown-item" href="/employee/login">Login</a>
      
    {{/if}}
 

  </div>
</div>
  </div>
</nav>
 </header>